[Unit]
Description=Refresh arch / core mirror lists
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
StandardOutput=null
StandardError=journal
ExecStart=/usr/bin/core-rate-mirrors
